aiofiles
aiogram
aiohttp
aiosignal
aiosqlite
alembic
annotated-types
anyio
async-generator
async-timeout
attr
attrs
Babel
beautifulsoup4
cffi
charset-normalizer
conda
faiss-cpu
fastjsonschema
ipywidgets
Jinja2
lancedb
langchain
langchainplus-sdk
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
openai
openapi-schema-pydantic
openpyxl
pandas
plotly
scikit-learn
tiktoken
tqdm 
sentence_transformers
pgvector
psycopg2-binary
python-dotenv
backoff